@{
    ViewBag.Title = "Login page";
    Layout = "_Layout";
}

<form asp-action="Login">
    <label>Login:</label>
    <input type="text" name="Login">
    <label>Password:</label>
    <input type="password" name="Password">
    <button>Log In</button>
</form>
